@font-face {
    font-family: 'Dearest';
    src: url('Dearest.woff2') format('woff2'),
        url('Dearest.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dearest Open';
    src: url('DearestOpen.woff2') format('woff2'),
        url('DearestOpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dearest Outline';
    src: url('DearestOutline.woff2') format('woff2'),
        url('DearestOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NoCurvesBoustrophedon';
    src: url('No-CurvesBoustrophedon.woff2') format('woff2'),
        url('No-CurvesBoustrophedon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OrchideeLight';
    src: url('OrchideeLight.woff2') format('woff2'),
        url('OrchideeLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OrchideeMedium';
    src: url('OrchideeMedium.woff2') format('woff2'),
        url('OrchideeMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

