@font-face {
    font-family: 'Avara';
    src: url('./fonts/Avara-Bold.woff2') format('woff2'),
        url('./fonts/Avara-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

img {
    width: 500px;
    height: 500px;
}