/* External font declaration */
@font-face {
    font-family: 'NoCurvesBoustrophedon';
    src: url('./fonts/No-CurvesBoustrophedon.woff2') format('woff2'),
        url('./fonts/No-CurvesBoustrophedon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Josh Comeau CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
} 

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Variables */
:root {
  --background-color-1: #D7EDF8;
  --background-color-2: #F2F4F3;
  --background-contrast-color: #F8F8FF;
  --background-link-text-color: #00CCFF;
  --background-link-text-color-visited: #7B68EE;
  --link-text-color: #00545C;
  --link-text-color-visited: #7B68EE;
  --body-text-color: #1A1A1A;
  --button-color: #0B3C49;
  --button-color-hover: hsl(193, 74%, 26%);
  --button-color-active: hsl(193, 74%, 36%);
  --button-text-color: #FFFFFF;
  --container-image-logo-width: 35vw;
  --form-inputs-height: 34vh;
}

.container-main {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.container-image-logo {
  position: relative;
  flex: 0 0 var(--container-image-logo-width);
  height: 100vh;
  overflow: hidden;
}

.container-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  color: var(--body-text-color);
}

/* Left container styling */
.background-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-ribbon {
  position: absolute;
  top: 30%;
  display: flex;
  width: 100%;
  background-color: hsla(0, 0%, 18%, 0.7);
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px 0;
  box-shadow: 0px 3px 10px var(--background-contrast-color), 0px -3px 10px var(--background-contrast-color);
}

.odin-logo {
  height: 8.5rem;
}

.title-logo {
  font-family: 'NoCurvesBoustrophedon';
  font-size: 6rem;
  color: var(--background-contrast-color);
}

.background-image-credits {
  position: absolute;
  bottom: 3px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: var(--background-contrast-color);
}

.background-image-credits a {
  color: var(--background-link-text-color);
}

.background-image-credits a:visited {
  color: var(--background-link-text-color-visited);
}

/* Right container styling */
.form-inputs {
  position: relative;
  z-index: 1;
  flex: 0 0 var(--form-inputs-height);
  background-color: var(--background-color-2);
}

.form-info,
.form-log-in {
  flex: 1;
  background-color: var(--background-color-1);
}

.cont-info {
  padding: 100px 250px 0 50px;
  font-size: 1.6rem;
  font-weight: bold;
}

.cont-info p:nth-child(2) {
  margin-bottom: 25px;
}

.cont-form-inputs {
  padding: 30px 250px 0 50px;
}

.cont-form-inputs > p:first-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.cont-form-inputs > p:nth-child(2) {
  font-size: 1rem;
  margin-bottom: 23px;
  font-style: italic;
}

.cont-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex-inputs {
  display: flex;
  gap: 80px;
}

label {
  display: flex;
  flex-direction: column;
  width: 350px;
}

input {
  padding: 4px 7px;
  outline: none;
  border-radius: 5px;
  border: 2px solid rgb(169, 169, 169);
}

input:focus {
  outline: none;
  border: 2px solid var(--background-link-text-color);
}

input:user-valid {
  border: 2px solid green;
}

input:user-invalid {
  border: 2px solid red;
}

.cont-log-in {
  padding: 50px 250px 0 50px;
}

button {
  padding: 15px 70px;
  font-size: 1.3rem;
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 10px;
  margin-bottom: 25px;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-color-hover);
}

button:active {
  background-color: var(--button-color-active);
}

.cont-log-in p {
  font-size: 1.3rem;
}

.cont-log-in a {
  color: var(--link-text-color);
  text-decoration: none;
  font-weight: bold;
}

.cont-log-in a:visited {
  color: var(--link-text-color-visited);
}