@font-face {
    font-family: 'Avara';
    src: url('./fonts/Avara-Bold.woff2') format('woff2'),
        url('./fonts/Avara-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Josh Comeau CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
  --section-logo-width: 35vw;
  --form-top-bottom-heigth: 35vh;
  --form-top-bottom-background-color: hsl(30, 100%, 90%);
}

body {
  display: flex;
  flex-direction: row;
}

.section-logo {
  width: var(--section-logo-width);
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-container {
  position: absolute;
  top: 5%;
  background-color: hsla(0, 0%, 0%, 0.4);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 20px;
}

.odin-logo {
  height: 10rem;
}

.logo-text {
  font-family: 'Avara';
  font-size: 6rem;
  color: white;
}

.photo-reference {
  position: absolute;
  bottom: 10px;
  color: white;
  font-size: 1.5rem;
}

.photo-reference > a {
  color: white;
}

.photo-reference > a:visited {
  color: goldenrod;
}

.section-form {
  width: calc(100vw - var(--section-logo-width));
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
}

.introduction,
.input-section,
.log-options {
  border: 1px solid black;
}

.introduction {
  height: var(--form-top-bottom-heigth);
  background-color: var(--form-top-bottom-background-color);
  padding: 100px 300px 40px 50px;
  font-size: 1.7rem;
}

.introduction:first-child p {
  margin-bottom: 30px;
}

.input-section {
  height: calc(100vh - (var(--form-top-bottom-heigth) * 2));
  padding: 0 30px;
}

.log-options {
  height: var(--form-top-bottom-heigth);
  background-color: var(--form-top-bottom-background-color);
  padding: 50px 300px 20px 50px;
  font-size: 1.7rem;
}

button {
  margin-bottom: 40px;
  background-color: hsl(15, 72%, 50%);
  font-weight: bold;
  padding: 10px 50px;
  border-radius: 12px;
  border: 2px solid black;
  color: white;
}

button:hover {
  background-color: hsl(15, 72%, 60%);
  color: black;
}

button:active {
  background-color: hsl(15, 72%, 70%);
  color: black;
}

.log-options a {
  font-weight: bold;
  color: #996600;
  text-decoration: none;
}