/* External font declaration */
@font-face {
    font-family: 'NoCurvesBoustrophedon';
    src: url('./fonts/No-CurvesBoustrophedon.woff2') format('woff2'),
        url('./fonts/No-CurvesBoustrophedon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Josh Comeau CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
} 

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Variables */
:root {
  --background-color-1: #F6F2EE;
  --background-color-2: #EAF4F8;
  --background-contrast-color: #F6F2EE;
  --link-text-color: #AC8218;
  --link-text-color-visited: #005F8F;
  --body-text-color: #2E2E2E;
  --button-color: #C7431B;
  --button-text-color: #FFFFFF;
  --container-image-logo-width: 35vw;
  --form-inputs-height: 34vh;
}

.container-main {
  display: flex;
}

.container-image-logo {
  position: relative;
  flex: 0 0 var(--container-image-logo-width);
  height: 100vh;
  overflow: hidden;
}

.container-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Left container styling */
.background-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-ribbon {
  position: absolute;
  top: 30%;
  display: flex;
  width: 100%;
  background-color: hsla(0, 0%, 18%, 0.7);
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px 0;
  box-shadow: 0px 3px 10px var(--background-contrast-color), 0px -3px 10px var(--background-contrast-color);
}

.odin-logo {
  height: 8.5rem;
}

.title-logo {
  font-family: 'NoCurvesBoustrophedon';
  font-size: 6rem;
  color: hsl(30, 31%, 95%);
}

.background-image-credits {
  position: absolute;
  bottom: 3px;
  width: 100%;
  text-align: center;
  font-size: 1.15rem;
  background-color: hsla(30, 31%, 95%, 0.7);
  color: black;
}

.background-image-credits a {
  color: var(--link-text-color);
  text-decoration: none;
  font-weight: bold;
}

.background-image-credits a:visited {
  color: var(--link-text-color-visited);
}

/* Right container styling */
.form-inputs {
  flex: 0 0 var(--form-inputs-height);
  background-color: var(--background-color-2);
}

.form-info,
.form-log-in {
  flex: 1 0 auto;
  background-color: var(--background-color-1);
}